:root{
    --primary: #5d586b;
    --primary-variant: #aaa;
    --secondary: #a4b7cb;
    --secondary-variant: #aaa;
    --background: #aaa;

    --social-item-margin: 1rem;
    --social-item-gap: .25rem;
    --social-item-img-width: 2.75rem;

    --main-ul-max-width: 30rem;
}

@font-face {
    font-family: Roboto-Regular;
    src: url('./fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    color: var(--primary);
}

h2 {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: .75rem solid;
    padding-top: 1rem;
}

header img{
    border-radius: 50%;
    width: 10rem;
}

header h1{
    margin: .25rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

main ul li a{
    text-decoration: none;
}

.social-item {
    display: flex;
    align-items: center;
    gap: var(--social-item-gap);
    border-radius: .75rem;
    color: var(--primary);
    border: 1px solid var(--secondary);
    margin: var(--social-item-margin);
    padding: .25rem;

    /*
    box-shadow: 1px 1px 4px var(--primary);
    */
}

.social-item img {
    width: var(--social-item-img-width);
    margin-left: calc(50vw - var(--social-item-margin) - var(--social-item-img-width) - var(--social-item-gap));
    filter: invert(37%) sepia(7%) saturate(1113%) hue-rotate(215deg) brightness(90%) contrast(88%);
}